# Homework Assignment #2 (Individual)
## Pandas Review and Python Classes

### <p style="text-align: right;"> &#9989; Put your name here.</p>
### <p style="text-align: right;"> &#9989; Put your _GitHub username_ here.</p>

### Goals for this homework assignment
By the end of this assignment, you should be able to:
- Write a generalizable class to store data
- Write subclasses that inherit general variables and methods from a parent class
- Identify key pieces of information that need to be stored as class variables
- Write methods that fetch and modify class variables 
- Write a function that instantiates new objects given some initial set of parameters

Work through the following assignment, making sure to follow all of the directions and answer all of the questions.

There are **62 points** possible on this assignment. Point values for each part are included in the section headers and question prompts.

**This assignment is due in roughly two weeks from now at 11:59 pm on XXXXXXXXX.** It should be uploaded into the "Homework Assignments" submission folder for Homework #2.  Submission instructions can be found at the end of the notebook.

---
## Part 0: Add to your Git repository to track your progress on your assignment (5 points)

For this assignment, you're going to add it to the `cmse202-s23-turnin` repository you created in class so that you can track your progress on the assignment and preserve the final version that you turn in. In order to do this you need to

**&#9989; Do the following**:

1. Navigate to your `cmse202-s23-turnin` repository and create a new directory called `hw-02`.
2. Move this notebook into that **new directory** in your repository, then **add it and commit it to your repository**.
1. Finally, to test that everything is working, "git push" the file so that it ends up in your GitHub repository.

**Important**: Double check you've added your Professor and your TA as collaborators to your "turnin" repository (you should have done this in the previous homework assignment).

**Also important**: Make sure that the version of this notebook that you are working on is the same one that you just added to your repository! If you are working on a different copy of the notebook, **none of your changes will be tracked**!

If everything went as intended, the file should now show up on your GitHub account in the "`cmse202-s23-turnin`" repository inside the `hw-02` directory that you just created.  Periodically, **you'll be asked to commit your changes to the repository and push them to the remote GitHub location**. Of course, you can always commit your changes more often than that, if you wish.  It can be good to get into a habit of committing your changes any time you make a significant modification, or when you stop working on the project for a bit.

&#9989; **Do this**: Before you move on, put the command that your instructor should run to clone your repository in the markdown cell below.

# Part 1: Loading a new dataset and visualize it

An important aspect of the recent lessons has been to look at an unkown dataset, use `pandas` to load it into a dataframe, analyze it, and finally visualize it. In the following, we will download a two part dataset from the web and analyze it. It goes in a familiar direction: Animals. 

We will look at the following datasets

`https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S23-data/main/HW/HW2/zoo.csv` and `https://raw.githubusercontent.com/msu-cmse-courses/cmse202-S23-data/main/HW/HW2/class.csv`

which [comes from here](https://www.kaggle.com/datasets/uciml/zoo-animal-classification).

## Part 1.1 Downloading the data (5 points)

Describe how you download the dataset using the command line but in a Jupyter notebook cell

In [ ]:
#Write code here

---
### &#128721; STOP (4 Points)
**Pause to commit your changes to your Git repository!**

Take a moment to **add your files** with git and commit with a meaningful commit message.

---

## Part 1.2 View the dataset on the command line (5 points)

Go to the **commandline** and view the dataset with the viewers you learned in class or others that you know. Describe how to do that.

In [ ]:
##

## Part 1.3 Describe the data (10 points)

Look at both datasets (`class.csv`, `zoo.csv`). Describe the contents of both dataset (E.g., the column kinds, what they represent, etc.). Make sure to establish a relationship with the column `class_type` in the `zoo.csv` dataset and the column `class_number` in the `class.csv`. What does that mean for you?

---

### &#128721; STOP (4 Points)
**Pause to commit your changes to your Git repository!**
Take a moment to save your notebook, commit the changes to your Git repository with a meaningful commit message.

---

## Part 1.4: Read in the datasets with `pandas` (10 points)

&#9989; We will then use pandas to read in the `zoo.csv` (only) into `DataFrame`.

In [3]:
#Write code here
import pandas as pd
df1 = pd.read_csv("zoo.csv")
df2 = pd.read_csv("class.csv")
df1

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

## Part 1.5 Describe the dataset and find out how many classes there are. 

Look back in the PCA/ICA and see how we used `groupby` to find out how many different Iris species there were and giving their statistical properties. Use the same methodology on the zoo DataFrame to find out how many of each there are (**not how many classes but e.g. how many mammals, fish, ...**). Think of count and then look at the `class.csv` to check your answer.

*Write your answer here*

#### 1.2 Visualizing data (10 points)

&#9989; Similar to the iris dataset, where we classified iris flowers into specific species, we want to classify animal properties into animal classes. Let's say we want to tell fish and mammals apart. Make two scatter plots to cleanly separate the classes (use different colors and different symbols for each fish and mammals).

In [ ]:
#Write your code here

# Part 2 Extending classes

We have been practicing with the `Animal` and `Zoo` class and will continue here. Our zoo for now is very simple for now and we will work on making this a bit more advanced.

In [9]:
# Use this code for problems below

class Animal(object):
    """
    This is an Animal class, used to store information about animals in the Zoo.
    """

    def __init__(self, kind, number=1, required_area=0):
        """ Initialize the Animal object.
        Inputs are
        kind: the type of animal (string)
        number: the number of this type of animal (int)
        required_area: square meters (int)
        """
        self.kind = kind
        self.number = number
        self.required_area = required_area


    def set_required_area(self, area):
        """ Set average required area for a single animal. """
        self.required_area = area

    def set_kind(self, kind):
        """ Set the kind of the animal """
        self.kind = kind

    def get_kind(self):
        """ Return animal's kind. """
        return self.kind

    def get_required_area(self):
        """ Return average required area for a single animal. """
        return self.required_area

## Part 2.1 Extending Animals 

### Part 2.1.1 Building a Test Animal (3 Points)

Before we start making changes to our classes, let's start by creating some test/example instances of them. In the cell below, pick your favorite animal and a fun name and create a new `Animal` object.

In [ ]:
#Write your code here

In [10]:
### ANSWER ###
mikey = Animal("Bear")
mikey.get_required_area()

0

### Part 2.1.2 Animal Instincts (5 Points)

&#9989; For now, our animals are very simple and do not have much information on them. Specifically, when building a zoo, we need to think about what habitats the animals live in. We now have that information from your dataframe. For our zoo, we are considering aquatic habitats, grassland habitats, or aviaries. How would you extend the `Animal` class (**don't use the subclasses**) to store habitat information from our dataset? Detail what you plan on adding to the `Animal` class so that it incorporates habitat information.

*Write your response here*

### ANSWER ###

I need to add an attribute `habitat` that defines what habitat the animals live in.

### Part 2.1.3: A better Animal class (10 points)

&#9989; Now put your plan into action and extend the animal class

In [ ]:
#Write your code for a new animal class here

In [11]:
### ANSWER ###

class Animal(object):
    """
    This is an Animal class, used to store information about animals in the Zoo.
    """

    def __init__(self, kind, number=1, required_area=0, habitat=''):
        """ Initialize the Animal object.
        Inputs are
        kind: the type of animal (string)
        number: the number of this type of animal (int)
        habitat: required habitat (string)
        """
        self.kind = kind
        self.number = number
        self.required_area = required_area
        self.habitat = habitat


    def set_required_area(self, area):
        """ Set average required area for a single animal. """
        self.required_area = area

    def set_kind(self, kind):
        """ Set the kind of the animal """
        self.kind = kind

    def set_habitat(self, habitat):
        """ Set the habitat of the animal """
        self.habitat = habitat

    def get_kind(self):
        """ Return animal's kind. """
        return self.kind

    def get_required_area(self):
        """ Return average required area for a single animal. """
        return self.required_area
    
    def get_habitat(self):
        """ Get the habitat of the animal """
        return self.habitat

### Part 2.1.4 Testing the New Animal Class (3 Points)

Create a test/example instance of your new `Animal` class in the cell below.

In [ ]:
#Write your code here

In [12]:
### ANSWER ###
mikey = Animal("Bear",habitat="Grassland")
mikey.get_habitat()

'Grassland'

---

### &#128721; STOP (4 Point)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository. Merge the changes in the main branch, and push the changes to GitHub.

---

## Part 2.2: A better Zoo class

In [66]:
# We'll be building off of this class in the problems below

class Zoo:
    """
        Class for Zoo object.
    """
    def __init__(self, name):
        """ Initialize the Zoo object. """
        # name of the Zoo
        self.name = name
        # we are using dictionaries for animals and personnel
        self.animals = {}

    def add_animal(self, animal):
        """ Adds an animal to the zoo. """
        # we use animal's name as a key in the dictionary
        kind = animal.get_kind()
        self.animals[kind] = animal

    def add(self, animal):
        """ Shorter name of function to add animals to the Zoo. """
        self.add_animal(animal)

    def get_animals(self):
        """ Return all animals in the zoo."""
        return self.animals

    def remove(self, name):
        """ Remove animal from the Zoo for given name. If the name does not exist, error is printed. """
        if name in self.animals:
            # yes, animal with given name is in the Zoo
            del self.animals[name]
        else:
            print("Animal with given name is not in", self.name, "Zoo.")

    def get_animal_kinds(self, sort=False):
        """ Return animal kinds in the Zoo. Return sorted kinds if parameters sorted==True"""
        kinds = []
        
        for key in self.animals.keys():
            # get animal kinds and store them into list
            kinds.append(self.animals[key].get_kind())

        if sort == True:
            # we have to return sorted kinds; so sort the kinds
            kinds = sorted(kinds)

        return kinds

    def number_animals(self):
        """ Return number of animals in the Zoo."""
        return len(self.animals)

    def total_area(self):
        """ Return the total Zoo area to host all animals defined in the object. """
        area = 0

        for key in self.animals:
            # get area for all animals in the zoo
            area += self.animals[key].get_required_area()

        return area

## Part 2.2.1: Building an Example Zoo


&#9989; Before we begin tinkering with the `Zoo` class, it's always good to make an example instance. In the cell below, make a new `Zoo` object and add your animal(s) from 2.1.4 (and 2.1.1, if they are different) to your new `Zoo` object.

Now that we've added the habitat information to our `Animal` class, let's 

Extend your Zoo class with functionality to calculate the habitat areas. You can either implement a method (`calculate_habitat_area`) that calculates the habitat area and returns a dictionary with the keys being the habitat types and the values being the habitat sizes. You can also implement three methods (`calculate_habitat_area_aquatic`, `calculate_habitat_area_grassland`, and `calculate_area_habitat_aviary`) that return the habitat area.

In [ ]:
#Write your code for building a Zoo object and adding animals to it here

In [ ]:
### ANSWER ###

---
### &#128721; STOP (4 Point)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository. Please make a meaningful commit message

---

## Part 3: Filling your zoo

## Part 3: Building an ~~Ark~~ Zoo

We now have a working zoo that understands how habitats work. We want to fill it with the animals from `zoo.csv` in the `pandas` DataFrame. First we are learning how to loop over individual rows of a `pandas` DataFrame and then we are adding this to the zoo.

## Part 3.1 (10 points)

&#9989; We are demonstrating below how we loop over individual rows of a `pandas` `DataFrame` and access the properties of an animal for each row. I'm keeping in mind that the grassland should not have airborne creatures. Please add an if-statement for animals going to the aquatic habitat and the aviary habitat.

In [51]:
#Write your class here

# to limit the output you can write zoo_df.sample(20).iterrows() to give you a sample of 20 animals
for i, animal_row in zoo_df.iterrows():
    if (animal_row.legs > 0) and (animal_row.airborne == 0) and (animal_row.aquatic == 0):
        print("{0} needs to go to the grassland habitat ".format(animal_row['animal_name']))

aardvark needs to go to the grassland habitat
antelope needs to go to the grassland habitat
bear needs to go to the grassland habitat
boar needs to go to the grassland habitat
buffalo needs to go to the grassland habitat
calf needs to go to the grassland habitat
cavy needs to go to the grassland habitat
cheetah needs to go to the grassland habitat
deer needs to go to the grassland habitat
elephant needs to go to the grassland habitat
flea needs to go to the grassland habitat
giraffe needs to go to the grassland habitat
girl needs to go to the grassland habitat
goat needs to go to the grassland habitat
gorilla needs to go to the grassland habitat
hamster needs to go to the grassland habitat
hare needs to go to the grassland habitat
kiwi needs to go to the grassland habitat
leopard needs to go to the grassland habitat
lion needs to go to the grassland habitat
lynx needs to go to the grassland habitat
mole needs to go to the grassland habitat
mongoose needs to go to the grassland habitat
opossum needs to go to the grassland habitat
oryx needs to go to the grassland habitat
ostrich needs to go to the grassland habitat
polecat needs to go to the grassland habitat
pony needs to go to the grassland habitat
puma needs to go to the grassland habitat
pussycat needs to go to the grassland habitat
raccoon needs to go to the grassland habitat
reindeer needs to go to the grassland habitat
rhea needs to go to the grassland habitat
scorpion needs to go to the grassland habitat
squirrel needs to go to the grassland habitat
termite needs to go to the grassland habitat
tortoise needs to go to the grassland habitat
tuatara needs to go to the grassland habitat
vole needs to go to the grassland habitat
wallaby needs to go to the grassland habitat
wolf needs to go to the grassland habitat

---
### &#128721; STOP (4 Point)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository with a meaningful commit message.

---

## Part 3.2 Making our zoo (10 points)

&#9989; Now that we have learned how to loop over a dataframe, we want to add all the animals to the zoo. Use the for-loop and instantiate an animal object (using the new and improved animal object) and add it to the zoo. You need to know that for the different habitats you need different areas:

 * aquatic : 10 $m^2$ per animal
 * aviary : 20 $m^2$ per animal
 * grassland : 30 $m^2$ per animal

In [46]:
#Write your answer here

In [73]:
my_zoo.calculate_habitat_size()

{'aquatic': 350, 'grassland': 1230, 'aviary': 380}

---

### &#128721; STOP (4 Point)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository with a meaningful commit message.

---

### Congratulations, you're done!

&#169; Copyright 2022,  Department of Computational Mathematics, Science and Engineering at Michigan State University